@model Do_An.Areas.Customer.Models.THANHTOAN
@{
    Layout = null;

}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán</title>
    <link rel="stylesheet" href="~/Assets/Customer/css/ThanhToan.css">
    <link rel="stylesheet" href="~/Assets/Customer/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm("Index", "ThanhToan"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false);
        <div class="header">
            <a href="Main.html" class="logo">De Montre</a>
            <div class="main__header-head">
                <ul class="main__header-list">
                    <li class="main__header-item icon"><a href=""><i class="header-icon far fa-question-circle"></i>Trợ giúp</a></li>
                    <li class="main__header-item separate"><a href="Signup.html">Đăng ký</a></li>
                    <li class="main__header-item"><a href="Login.html">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
        <div class="container" style="min-width:100%;">
            @{ int dem = 0;
                foreach (var i in ViewBag.GioHang)
                {
                    if (TempData["CheckSL" + dem] != null)
                    {
                        <div class="alert alert-danger" id="success-alert">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <strong>@TempData["CheckSL" + dem]</strong>
                        </div>
                    }
                    dem++;
                }
            }
            <div class="page">
                <div class="page__header item">
                    Thanh toán
                </div>

                <div class="page__Adr item">
                    <div class="page__Adr-name">
                        <i class="fas fa-map-marked-alt"> Địa chỉ thanh toán</i>

                    </div>
                    <div class="page__Adr-container">
                        <div class="page__Adr-detail">
                            <input type="text" class="page__Adr-detail" id="DiaChi" name="Address" style="display:none;" value=@ViewBag.DiaChi>
                            <div id="Addres" style=" font-size: 18px;">@ViewBag.DiaChi</div>
                        </div>
                        <div class="page__Adr-default">
                            <input type="submit" value="Mặc Định" style="color:#848484; border-width: 0; background-color: white;" id="btnUpdate" formaction=@Url.Action("Update", "ThanhToan") />
                        </div>
                        <div class="page__thanhtoan-header-method1 button" onclick="show_hide()">THAY ĐỔI</div>
                    </div>
                </div>
                <div class="page__productlist item">
                    <div class="page__productlist-header">
                        <div class="page__productlist-header-F1">Sản phẩm</div>
                        <div class="page__productlist-item">Đơn giá</div>
                        <div class="page__productlist-item">Số lượng</div>
                        <div class="page__productlist-item thanhtien">Thành tiền</div>
                    </div>
                    @{
                        foreach (var i in ViewBag.GioHang)
                        {

                            <div class="page__productlist-container">
                                <div class="page__productlist-container-F1">
                                    <img src="@i.HinhAnh" alt="">
                                    <div class="page__productlist-container-F1-detail">
                                        @i.TenSP
                                    </div>

                                </div>

                                <div class="page__productlist-item productlist">@i.Gia</div>
                                <div class="page__productlist-item productlist">@i.SoLuong</div>
                                <div class="page__productlist-item productlist thanhtien">@String.Format("{0:d}", i.Gia * i.SoLuong)</div>
                            </div>
                        }
                    }
                    <div class="page__productlist-footer">
                        <div class="page__productlist-footer-note">
                            <div>Lời nhắn: </div>
                            @Html.TextBoxFor(m => m.ChuThich, new { @class = "page__productlist-footer-note input", @name = "TBluuY", @placeholder = "Lưu ý cho người bán" })
                            @*<input class="page__productlist-footer-note input" type="text" name="TBluuY" placeholder="Lưu ý cho người bán">*@

                        </div>
                        <div class="page__productlist-footer-1">Thời gian vận chuyển</div>
                        <div class="page__productlist-footer-2">@String.Format("{0:dd/MM/yyyy}", DateTime.Now.AddDays(3)) - @String.Format("{0:dd/MM/yyyy}", DateTime.Now.AddDays(7))</div>
                    </div>
                    <div class="page__productlist-CheckOut">
                        <div class="page__productlist-CheckOut-1">Tổng số tiền (x sản phẩm):</div>
                        <div class="page__productlist-CheckOut-2"> @ViewBag.ThanhToan đ</div>
                    </div>
                </div>
                <div class="page__thanhtoan item">
                    <div class="page__thanhtoan-header">
                        <div class="page__thanhtoan-header-method">Phương thức thanh toán</div>

                        <div class="page__thanhtoan-header-method" style="justify-content:center;">
                            <input type="text" style="display: none;" name="pttt" value="Thanh toán khi nhận hàng" id="payy" />
                            <p id="paymethod">Thanh toán khi nhận hàng</p>
                        </div>
                        <div class="page__thanhtoan-header-method1 button" onclick="show_hide_1()">THAY ĐỔI</div>
                    </div>
                    <div class="page__thanhtoan-container">
                        <input type="submit" id="btnDatHang" class="page__thanhtoan-container-button" name="btnDatHang" UseSubmitBehavior="false" value="Đặt hàng" formaction=@Url.Action("Index", new { @diachi = @ViewBag.DiaChi, @pttt= @ViewBag.PhuongThucTT })>


                    </div>
                </div>


            </div>
        </div>
        <footer class="footer">
            <div class="gird">
                <div class="gird_row gird_row2">
                    <div style="margin-left:4%;" class="gird_column2-4">
                        <h3 class="footer_heading"> CSKH</h3>
                        <ul class="footer_heading-list">
                            <li class="footer-item">
                                <a href="" class="footer-link">Trung tâm giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">ClockID Mall</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gird_column2-4">
                        <h3 class="footer_heading">Thắc mắc</h3>
                        <ul class="footer_heading-list">
                            <li class="footer-item">
                                <a href="" class="footer-link">Liên hệ với FB</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">Liên hệ với Instagram</a>

                            </li>
                        </ul>
                    </div>
                    <div class="gird_column2-4">
                        <h3 class="footer_heading">Theo dõi tôi trên</h3>
                        <ul class="footer_heading-list">
                            <li class="footer-item">
                                <a href="" class="footer-link">
                                    <i class="fab fa-facebook"></i>&nbsp; Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">
                                    <i class="fab fa-instagram"></i> &nbsp; Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">
                                    <i class="fab fa-twitter-square"></i>&nbsp; Twitter
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="gird_column2-4">
                        <h3 class="footer_heading">Hổ trợ khách hàng</h3>
                        <ul class="footer_heading-list">
                            <li class="footer-item">
                                <a href="" class="footer-link">Dịch vụ</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">Thái độ</a>

                            </li>
                        </ul>
                    </div>
                    <div class="gird_column2-4 special">
                        <h3 class="footer_heading">Truy cập ứng dụng</h3>
                        <ul class="footer_heading-list">
                            <li class="footer-item">
                                <a href="" class="footer-link">Trung tâm giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">ClockID Mall</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!--Footer Wrapper-->
    }

    <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.6); display: none;" id="show-hide" onclick="show_hide_off()">

    </div>
    <div id="show-hide1" style="display: none;">
        <div class="login__form" style=" transform: translate(0%,-15%); bottom: 40%;">
            <h1 class="login__form-title" style="font-size: 24px;">Địa Chỉ giao hàng</h1>
            <div class="login__form-input">
                <div>
                    <!--@Html.TextBoxFor(model => model.SDT, new { @required = "required", @id = "text-SDT", @name = "SDT" })-->
                    <input type="text" required id="text-SDT" name="SDT">
                    <div class="underline"></div>
                    <label for="SDT">SDT</label>
                </div>
            </div>
            <div class="login__form-input">
                <div>
                    <!--@Html.TextBoxFor(model => model.TenKH, new { @required = "required", @id = "text-Ten", @name = "TenKH" })-->
                    <input type="text" required id="text-Ten" name="TenKH">
                    <div class="underline"></div>
                    <label for="TenKH">Tên</label>
                </div>
            </div>

            <div class="login__form-input">
                <div>
                    <!--@Html.TextBoxFor(model => model.DiaChi, new { @required = "required", @id = "text-DiaChi", @name = "DiaChi" })-->
                    <input type="text" required id="text-DiaChi" name="DiaChi">
                    <div class="underline"></div>
                    <label for="DiaChi">Địa Chỉ</label>
                </div>
            </div>
            <input type="submit" class="btn" value="Xác Nhận" id="btnXacNhan" onclick="show_hide_off(), changeAddress()">
        </div>
    </div>
    <div id="show-hide_1_1" style="display: none;">
        <div class="login__form" style=" transform: translate(0%,-15%); height: 300px;  bottom:40%">
            <h1 class="login__form-title" style="font-size: 24px;">Phương Thức Giao Hàng</h1>
            <div style="display: flex; padding-top: 20px; justify-content:center; align-items: center; ">
                <div style="font-size: 20px; margin: auto; justify-content: center;  padding-right: 48px;">
                    Thanh Toán Khi Nhận Sản Phẩm
                </div>
                <div style="width:20px; height:20px; margin: auto; justify-content: center;">
                    <!--@Html.RadioButtonFor(model => model.PhuongThucTT, new { @value = "Thanh Toán Khi Nhận Sản Phẩm", @id = "COD", @style = " width: 100%; height: 1.6em;", @name = "rdo" })-->
                    <input type="radio" style=" width: 100%; height: 1.6em;" name="rdo" id="COD" />
                </div>
            </div>
            <div style="display: flex; padding-top: 20px; justify-content:center; align-items: center;">
                <div style="font-size: 20px; margin: auto; justify-content: center;">
                    Thanh toán online(visa, mastercard,...)
                </div>
                <div style="width:20px; height:20px; margin: auto; justify-content: center;">
                    <!--@Html.RadioButtonFor(model => model.PhuongThucTT, new { @value = "Thanh toán online(visa, mastercard,...)", @id="banking", @style = " width: 100%; height: 1.6em;", name = "rdo" })-->
                    <input type="radio" style=" width: 100%; height: 1.6em;" name="rdo" id="banking" />
                </div>
            </div>
            <input type="button" class="btn" style=" display: flex; justify-content: center;" value="Xác Nhận" id="btnXacNhan" onclick="show_hide_off(), changePTTT()" />
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        function show_hide() {

            document.getElementById("show-hide").style.display = "block";
            document.getElementById("show-hide1").style.display = "block";


        }
        function show_hide_off() {
            document.getElementById("show-hide").style.display = "none";
            document.getElementById("show-hide1").style.display = "none";
            document.getElementById("show-hide_1_1").style.display = "none";
        }

        function show_hide_1() {

            document.getElementById("show-hide").style.display = "block";
            document.getElementById("show-hide_1_1").style.display = "block";


        }
        function changePTTT() {
            var value1 = $("#COD").prop("checked")
            var value2 = $("#banking").prop("checked")
            if (value1 == true) {
                $("#paymethod").text("Thanh toán khi nhận hàng");
                $("#payy").val("Thanh toán khi nhận hàng");
            }
            if (value2 == true) {
                $("#paymethod").text("Thanh toán online(visa, mastercard, ...)");
                $("#payy").val("Thanh toán online(visa, mastercard, ...)");
            }
        }
        function changeAddress() {
            var txt = "+84 " + $("#text-SDT").val() + " " + $("#text-Ten").val() + " " + $("#text-DiaChi").val();
            $("#Addres").text(txt);
            $("#DiaChi").val(txt);
        }
        $(function () {
            $('#success-alert').removeClass('container');
            $('#success-alert').delay(5000).slideUp(500);
        }
        )
    </script>


</body>
</html>
