@model Do_An.Areas.Customer.Models.THANHTOAN


<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán</title>
    <link rel="stylesheet" href="~/Assets/Customer/css/ThanhToan.css">
    <link rel="stylesheet" href="~/Assets/Customer/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm("Index", "ThanhToan"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false);
        <div class="container" style="min-width:100%;">
            @{ int dem = 0;
                foreach (var i in ViewBag.GioHang)
                {
                    if (TempData["CheckSL" + dem] != null)
                    {
                        <div class="alert alert-danger" id="success-alert">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <strong>@TempData["CheckSL" + dem]</strong>
                        </div>
                    }
                    dem++;
                }
            }
            <div class="page">
                <div class="page__header item">
                    Thanh toán
                </div>

                <div class="page__Adr item">
                    <div class="page__Adr-name">
                        <i class="fas fa-map-marked-alt"> Địa chỉ thanh toán</i>

                    </div>
                    <div class="page__Adr-container">
                        <div class="page__Adr-detail">
                            <input type="text" class="page__Adr-detail" id="DiaChi" name="Address" style="display:none;" value=@ViewBag.DiaChi>
                            <div id="Addres" style=" font-size: 18px;">@ViewBag.DiaChi</div>
                        </div>
                        <div class="page__Adr-default">
                            <input type="submit" value="Mặc Định" style="color:#848484; border-width: 0; background-color: white;" id="btnUpdate" formaction=@Url.Action("Update", "ThanhToan") />
                        </div>
                        <div class="page__thanhtoan-header-method1 button" onclick="show_hide()">THAY ĐỔI</div>
                    </div>
                </div>
                <div class="page__productlist item">
                    <div class="page__productlist-header">
                        <div class="page__productlist-header-F1">Sản phẩm</div>
                        <div class="page__productlist-item">Đơn giá</div>
                        <div class="page__productlist-item">Số lượng</div>
                        <div class="page__productlist-item thanhtien">Thành tiền</div>
                    </div>
                    @{
                        foreach (var i in ViewBag.GioHang)
                        {

                            <div class="page__productlist-container">
                                <div class="page__productlist-container-F1">
                                    <img src="@i.HinhAnh" alt="">
                                    <div class="page__productlist-container-F1-detail">
                                        @i.TenSP
                                    </div>

                                </div>

                                <div class="page__productlist-item productlist">@i.Gia</div>
                                <div class="page__productlist-item productlist">@i.SoLuong</div>
                                <div class="page__productlist-item productlist thanhtien">@String.Format("{0:d}", i.Gia * i.SoLuong)</div>
                            </div>
                        }
                    }
                    <div class="page__productlist-footer">
                        <div class="page__productlist-footer-note">
                            <div>Lời nhắn: </div>
                            @Html.TextBoxFor(m => m.ChuThich, new { @class = "page__productlist-footer-note input", @name = "TBluuY", @placeholder = "Lưu ý cho người bán" })
                        </div>
                        <div class="page__productlist-footer-1">Thời gian vận chuyển</div>
                        <div class="page__productlist-footer-2">@String.Format("{0:dd/MM/yyyy}", DateTime.Now.AddDays(3)) - @String.Format("{0:dd/MM/yyyy}", DateTime.Now.AddDays(7))</div>
                    </div>
                    <div class="page__productlist-CheckOut">
                        <div class="page__productlist-CheckOut-1">Tổng số tiền (x sản phẩm):</div>
                        <div class="page__productlist-CheckOut-2"> @ViewBag.ThanhToan đ</div>
                    </div>
                </div>
                <div class="page__thanhtoan item">
                    <div class="page__thanhtoan-header">
                        <div class="page__thanhtoan-header-method">Phương thức thanh toán</div>

                        <div class="page__thanhtoan-header-method" style="justify-content:center;">
                            <input type="text" style="display: none;" name="pttt" value="Thanh toán khi nhận hàng" id="payy" />
                            <p id="paymethod">Thanh toán khi nhận hàng</p>
                        </div>
                        <div class="page__thanhtoan-header-method1 button" onclick="show_hide_1()">THAY ĐỔI</div>
                    </div>
                    <div class="page__thanhtoan-container">
                        <input type="submit" id="btnDatHang" class="page__thanhtoan-container-button" name="btnDatHang" UseSubmitBehavior="false" value="Đặt hàng" formaction=@Url.Action("Index", new { @diachi = @ViewBag.DiaChi, @pttt= @ViewBag.PhuongThucTT })>


                    </div>
                </div>


            </div>
        </div>
    }
    <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.6); display: none;" id="show-hide" onclick="show_hide_off()">

    </div>
    @*form đổi địa chỉ*@
    <div id="show-hide1" style="display: none;">
        <div class="login__form" style=" transform: translate(0%,-15%); top: 30%; color:black;">
            <h1 class="login__form-title" style="font-size: 24px;">Địa Chỉ giao hàng</h1>
            <div class="login__form-input">
                <div>
                    <input type="text" required id="text-SDT" name="SDT">
                    <div class="underline"></div>
                    <label for="SDT">SDT</label>
                </div>
            </div>
            <div class="login__form-input">
                <div>
                    <input type="text" required id="text-Ten" name="TenKH">
                    <div class="underline"></div>
                    <label for="TenKH">Tên</label>
                </div>
            </div>

            <div class="login__form-input">
                <div>
                    <input type="text" required id="text-DiaChi" name="DiaChi">
                    <div class="underline"></div>
                    <label for="DiaChi">Địa Chỉ</label>
                </div>
            </div>
            <input type="submit" class="btn" style="color:white; display: block; width: 300px; height: 45px; border-radius: 25px; border: none; outline: none; margin: 35px 50px; background-image: linear-gradient(to right, #FE3456, #A72D41, #FE3456); cursor: pointer; color: #fff; background-size: 200%; font-weight: 700; font-size: 20px; transition: 0.5s; text-transform: uppercase; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);" value="Xác Nhận" id="btnXacNhan" onclick="changeAddress()">
        </div>
    </div>
    @*form phương thức thanh toán*@
    <div id="show-hide_1_1" style="display: none;">
        <div class="login__form" style=" transform: translate(0%,-15%); height: 300px;  top:30%; color:black;">
            <h1 class="login__form-title" style="font-size: 24px;">Phương Thức Giao Hàng</h1>
            <div style="display: flex; padding-top: 20px; justify-content:center; align-items: center; ">
                <div style="font-size: 20px; margin: auto; justify-content: center;  padding-right: 48px;">
                    Thanh Toán Khi Nhận Sản Phẩm
                </div>
                <div style="width:20px; height:20px; margin: auto; justify-content: center;">
                    <input type="radio" style=" width: 100%; height: 1.6em;" name="rdo" id="COD" />
                </div>
            </div>
            <div style="display: flex; padding-top: 20px; justify-content:center; align-items: center;">
                <div style="font-size: 20px; margin: auto; justify-content: center;">
                    Thanh toán online(visa, mastercard,...)
                </div>
                <div style="width:20px; height:20px; margin: auto; justify-content: center;">
                    <input type="radio" style=" width: 100%; height: 1.6em;" name="rdo" id="banking" />
                </div>
            </div>
            <input type="button" class="btn" style="color:white; display: block; width: 300px; height: 45px; border-radius: 25px; border: none; outline: none; margin: 35px 50px; background-image: linear-gradient(to right, #FE3456, #A72D41, #FE3456); cursor: pointer; color: #fff; background-size: 200%; font-weight: 700; font-size: 20px; transition: 0.5s; text-transform: uppercase; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);" value="Xác Nhận" id="btnXacNhan" onclick="changePTTT()" />
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        function show_hide() {

            document.getElementById("show-hide").style.display = "block";
            document.getElementById("show-hide1").style.display = "block";


        }
        function show_hide_off() {
            document.getElementById("show-hide").style.display = "none";
            document.getElementById("show-hide1").style.display = "none";
            document.getElementById("show-hide_1_1").style.display = "none";
        }

        function show_hide_1() {

            document.getElementById("show-hide").style.display = "block";
            document.getElementById("show-hide_1_1").style.display = "block";
        }
        function changePTTT() {
            var value1 = $("#COD").prop("checked")
            var value2 = $("#banking").prop("checked")
            if (value1 == true) {
                $("#paymethod").text("Thanh toán khi nhận hàng");
                $("#payy").val("Thanh toán khi nhận hàng");
            }
            if (value2 == true) {
                $("#paymethod").text("Thanh toán online(visa, mastercard, ...)");
                $("#payy").val("Thanh toán online(visa, mastercard, ...)");
            }
            document.getElementById("show-hide").style.display = "none";
            document.getElementById("show-hide_1_1").style.display = "none";
        }
        function changeAddress() {
            
            var Ten = document.getElementById('text-Ten').value;
            var SDT = document.getElementById('text-SDT').value;
            var DiaChi = document.getElementById('text-DiaChi').value;

            //Kiểm tra dữ liệu hợp lệ hay không
            if (SDT == '') {
                alert('Bạn chưa nhập số điện thoại');
            }
            else if (Ten == '') {
                alert('Bạn chưa nhập tên');
            }
            else if (DiaChi == '') {
                alert('Bạn chưa nhập địa chỉ');
            }
            else {
                var txt = "+84 " + $("#text-SDT").val() + " " + $("#text-Ten").val() + " " + $("#text-DiaChi").val();
                $("#Addres").text(txt);
                $("#DiaChi").val(txt);
                show_hide_off();
                return true;
            }

            return false;
        }
        $(function () {
            $('#success-alert').removeClass('container');
            $('#success-alert').delay(5000).slideUp(500);
        }
        )

    </script>


</body>
